* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Animaciones */
/* Daga */
@keyframes daggermv {
    0% {transform: rotateZ(360deg);}
    40%{transform: rotateZ(-360deg);}
}
/* H1 PORTFOLIO AMIR */
@keyframes h1hover {
    to {margin-top: 20px;border-bottom: 2px solid white;}
}
/* CSS Header */
.nav-box1 {
    background-color: rgb(243, 109, 0);
    height: 95px;
    border-bottom: solid rgb(204, 204, 204) 20px;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 9;

}
.nav-box1 ul li {
    float: left;
    width: 120px;
    color: white;
    margin-top: 38px;
}
.nav-box1 ul li:nth-of-type(1) {
    margin-left: 18%;
}
#daga {
    position: absolute;
    left: 35px;
    top: 0px;
    width: 50px;
    animation: daggermv;
    animation-duration: 2s;
}

.nav-box1 h1 {
    color: white;
    font-size: 2em;
    font-family: fantasy;
    text-align: left;
    float: left;
    margin-top: 32px;
    margin-left: 115px;
}
.nav-box1 h1:hover {
    animation: h1hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.decoration {
    height: 450px;
    padding-top: 25px;
}
.deco-box1{
    width: 90%;
    height: 390px;
    background-color: rgb(134, 124, 226);
    margin: auto;
    border-bottom: 15px solid gray;
}
.deco-box1 h1 {
    color: white;
    width: 190px;
    float: left;
    font-size: 2em;
    margin-top: 45px;
    margin-left: 45px;
    
}
.deco-box1 p {
    color: white;
    width: 300px;
    float: left;
    clear: both;
    margin-top: 20px;
    text-align: left;
    margin-left: 45px;
}
.deco-box2 {
    width: 50%;
    height: 300px;
    float: left;
    position: relative;
    bottom: 90px;
    left: 20px;
    background-image: url(../img/wp.jpg);
    background-size: cover;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

main {
    height: 425px;
    background-color: rgb(199, 199, 199);
    border-bottom: 40px solid gray;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration-line: underline;
}


/* ARTICULO 1 */
.art1 {
    float: left;
    width: 225px;
    height: 300px;
    background-color: rgb(60, 95, 119);
    vertical-align: middle;
    margin-top:60px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
}
.art1 h2{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.art1 p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.art1 div{
    width: 130px;
    height: 25px;
    margin: auto;
    margin-top: 70px;
    background-color:rgb(243, 109, 0) ;
    border-radius: 10px;
}
.art1 div:hover {
    background-color: orange;
}


.art2 {
    float: left;
    width: 225px;
    height: 300px;
    background-color: rgb(20, 20, 20);
    vertical-align: middle;
    margin-top:60px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
}
.art2 h2{
    margin-top: -20px;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
.art2 p{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}
.art2 .pra1{
    width: 95px;
    height: 25px;
    margin: auto;
    margin-top: 70px;
    background-color:rgb(243, 109, 0) ;
    border-radius: 10px;
    float: left;
    margin-left: 10px;
}
.art2 .pra1:hover {
    background-color: orange;
}
.art2 .pra2 {
    width: 95px;
    height: 25px;
    margin: auto;
    margin-top: 70px;
    background-color:rgb(243, 109, 0) ;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
}
.art2 .pra2:hover {
    background-color: orange;
}

footer {
    height: 65px;
    background-color:rgb(243, 109, 0) ;
    color: white;
    text-align: center;
}
footer p{
    float: left;
    margin-top:20px;
    margin-left: 5%;
}
.deco-box3 {
    float: left;

}
.deco-box3 ul {
    list-style: square;
    margin-left: 65px;
}
.deco-box4 {
    float: left;
}
.deco-box4 ul {
    margin-left: 65px;
    list-style: square;
}
.dockmain {
    height: 1200px;
    background-color: rgb(199, 199, 199);
    border-bottom: 40px solid gray;
    text-align: center;
}
.dockmain h2 {
    font-size: 1.5em;
   font-weight: bold;
}
.dockmain img {
    border-radius:10px ;
    background-color: rgb(221, 221, 221);
    box-shadow: 5px 5px gray;
}
.sabermas {
    background-color: rgb(134, 124, 226);
    padding: 10px;
}
.sabermas p{
    font-size: 1.2em;
    margin-bottom: 10px;
}
.dockerfile {
    float: left;
    width: 500px;
    height: 640px;
    text-align: left;
    background-color: rgb(221, 221, 221);
}
.dockerfile pre {
    margin: 20px;
}
.dock {
    text-align: left;
    margin-left: 525px;
}
.dock ul {
    list-style: square;
    margin-top: 15px;
}
.dock pre {
    margin-top: 10px;
}
.hig {
    background-color: yellow;
}
.high {
    font-weight: bold;
}
.ssh1main {
    height: 1300px;
    background-color: rgb(199, 199, 199);
    border-bottom: 40px solid gray;

}

.ssh-box1 {
    margin: 0px;
    width: 45%;
    height: 400px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgb(221, 221, 221);
    text-align: center;
    border-radius: 10px;
}
.ssh-box1 p {
    background-color: orange;
    color: white;
}
.ssh-box1 h1 {
    background-color: orange;
    color: white;
}
.ssh-box1 h1{
    font-size: 1.5em;
}
.ssh-box1 p:nth-of-type(2) {
    color: red;
}
.ssh-box1 img {
    margin-top: 50px;
    width: 400px;
}

#flecha {
    width: 145px;
}
#flecha:hover {
    opacity: 0.6;
}
.deco-box2main {
    width: 50%;
    height: 300px;
    float: left;
    position: relative;
    bottom: 130px;
    left: 75px;
    background-image: url(../img/ese.jpg);
    background-size: cover;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
#subir {
    width: 275px;
}
.mainssh2 {
    height: 1675px;
    background-color: rgb(199, 199, 199);
    border-bottom: 40px solid gray;
    padding-top: 20px;
}
.deco-box5 {
    width: 50%;
    height: 300px;
    float: left;
    position: relative;
    bottom: 65px;
    left: 35px;
    background-image: url(../img/ll.jpg);
    background-size: cover;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
